:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
}

mat-drawer {
    width: 230px;
    background: #020f30;
}

mat-drawer-container {
    height: 100%;
}
